/* Import your application global css files here or add the styles directly to this file */
.regular-promotion {
    background-color: #32ac5f;
}

.additional-promotion {
    background-color: #20ff46; /* light green */
}

.regular-relegation {
    background-color: darkred;
}

.additional-relegation {
    background-color: #ff270c;
}

.allowed-for-nlc-promotion {
    background-color: #d4f433;
}

.retreated {
    color: #cc0000;
    background-color: darkgrey;
}